# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [2]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep="|")
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### [ ]Step 4. Discover what is the mean age per occupation

1. Mirar las columnas del dataframe:
    - age
    - occupation
2. Necesitamos una función que me agrupe según una columna.
3. ¿Cómo buscas esta función dentro? --> `shift + tab`
    1. Dentro del objeto
    2. Dentro de la librería
    3. Predefinida en el lenguaje de Python

In [18]:
users.age.mean()

# esto no es lo que quiere el enunciado, quiere la edad MEDIA por OCUPACIÓN, esto es la edad MEDIA de toda la columna de EDAD.
# Tenemos que AGRUPAR por categorías. O sea, aplicar la función groupby() sobre occupation

34.05196182396607

In [15]:
users.groupby(by='occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [16]:
# Para ponerlo en orden basta con aplicar la función sort_values(): 
# ¿Para ponerlo de mayor a menor?
users.groupby(by='occupation').age.mean().sort_values()

occupation
student          22.081633
none             26.555556
entertainment    29.222222
artist           31.392857
homemaker        32.571429
programmer       33.121212
technician       33.148148
other            34.523810
scientist        35.548387
salesman         35.666667
writer           36.311111
engineer         36.388060
lawyer           36.750000
marketing        37.615385
executive        38.718750
administrator    38.746835
librarian        40.000000
healthcare       41.562500
educator         42.010526
doctor           43.571429
retired          63.071429
Name: age, dtype: float64

### [ ]Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [32]:
users.groupby(['occupation', 'gender'])

### Step 6. For each occupation, calculate the minimum and maximum ages

In [26]:
# aunque ya en el step 4 puedes obtener la respuesta, se puede escribir un código que te devuelve el mínimo y el máximo
# por cada empleo, la función que ayuda a averiguarlo es la de agg()

users.groupby('occupation').age.agg(['min', 'max'])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [29]:
# Igual que en el step 4, pero le metes el sexo y lo encorchetas

users.groupby(['occupation', 'gender']).age.mean().sort_values()

occupation     gender
none           M         18.600000
student        F         20.750000
               M         22.669118
homemaker      M         23.000000
salesman       F         27.000000
scientist      F         28.333333
entertainment  M         29.000000
engineer       F         29.500000
artist         F         30.307692
entertainment  F         31.000000
programmer     F         32.166667
artist         M         32.333333
technician     M         32.961538
programmer     M         33.216667
other          M         34.028986
homemaker      F         34.166667
writer         M         35.346154
other          F         35.472222
lawyer         M         36.200000
scientist      M         36.321429
none           F         36.500000
engineer       M         36.600000
administrator  M         37.162791
marketing      F         37.200000
writer         F         37.631579
marketing      M         37.875000
technician     F         38.000000
executive      M         38.172414
salesman       M         38.555556
educator       F         39.115385
lawyer         F         39.500000
healthcare     F         39.818182
librarian      M         40.000000
               F         40.000000
administrator  F         40.638889
educator       M         43.101449
doctor         M         43.571429
executive      F         44.000000
healthcare     M         45.400000
retired        M         62.538462
               F         70.000000
Name: age, dtype: float64

### [ ]Step 8.  For each occupation present the percentage of women and men