# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [1]:
import requests

In [2]:
res = requests.get(url='https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=demo')

In [3]:
res

In [6]:
resjson  = res.json()

In [8]:
type(resjson)

dict

In [9]:
import pandas as pd

In [10]:
pd.DataFrame(resjson)

,Meta Data,Time Series (5min)
1. Information,"Intraday (5min) open, high, low, close prices ...",NaN
2. Symbol,IBM,NaN
3. Last Refreshed,2022-02-14 19:55:00,NaN
4. Interval,5min,NaN
5. Output Size,Compact,NaN
...,...,...
2022-02-14 08:20:00,NaN,"{'1. open': '132.3800', '2. high': '132.3800',..."
2022-02-14 08:15:00,NaN,"{'1. open': '132.3600', '2. high': '132.3600',..."
2022-02-14 08:05:00,NaN,"{'1. open': '131.0000', '2. high': '132.5000',..."
2022-02-14 08:00:00,NaN,"{'1. open': '132.1200', '2. high': '132.1200',..."
2022-02-14 07:50:00,NaN,"{'1. open': '132.2500', '2. high': '132.2500',..."

In [13]:
pd.DataFrame(resjson['Time Series (5min)'])

,2022-02-14 19:55:00,2022-02-14 19:50:00,2022-02-14 19:20:00,2022-02-14 18:50:00,2022-02-14 17:35:00,2022-02-14 17:10:00,2022-02-14 16:50:00,2022-02-14 16:20:00,2022-02-14 16:15:00,2022-02-14 16:10:00,...,2022-02-14 09:15:00,2022-02-14 08:50:00,2022-02-14 08:45:00,2022-02-14 08:40:00,2022-02-14 08:25:00,2022-02-14 08:20:00,2022-02-14 08:15:00,2022-02-14 08:05:00,2022-02-14 08:00:00,2022-02-14 07:50:00
1. open,130.1500,130.1500,130.1700,130.3400,130.0000,130.1100,129.8900,130.1500,130.3699,130.1500,...,132.0000,132.3600,132.3600,132.3600,132.3600,132.3800,132.3600,131.0000,132.1200,132.2500
2. high,130.1500,130.1500,130.1700,130.3400,130.0000,130.1100,129.8900,130.1500,130.3699,130.1500,...,132.0000,132.3600,132.3600,132.3600,132.3600,132.3800,132.3600,132.5000,132.1200,132.2500
3. low,130.1500,130.1500,130.1700,130.3400,130.0000,130.1100,129.8900,130.1500,130.3699,130.1500,...,132.0000,132.3500,132.3600,132.3600,132.3600,132.3600,132.3600,131.0000,132.1200,132.2500
4. close,130.1500,130.1500,130.1700,130.3400,130.0000,130.1100,129.8900,130.1500,130.3699,130.1500,...,132.0000,132.3500,132.3600,132.3600,132.3600,132.3600,132.3600,132.5000,132.1200,132.2500
5. volume,200,313,100,100,152,200,441,500,440,7224,...,140,1203,200,881,150,1785,900,1969,137,907

In [14]:
pd.DataFrame(resjson['Time Series (5min)']).T

                      1. open   2. high    3. low  4. close 5. volume
2022-02-14 19:55:00  130.1500  130.1500  130.1500  130.1500       200
2022-02-14 19:50:00  130.1500  130.1500  130.1500  130.1500       313
2022-02-14 19:20:00  130.1700  130.1700  130.1700  130.1700       100
2022-02-14 18:50:00  130.3400  130.3400  130.3400  130.3400       100
2022-02-14 17:35:00  130.0000  130.0000  130.0000  130.0000       152
...                       ...       ...       ...       ...       ...
2022-02-14 08:20:00  132.3800  132.3800  132.3600  132.3600      1785
2022-02-14 08:15:00  132.3600  132.3600  132.3600  132.3600       900
2022-02-14 08:05:00  131.0000  132.5000  131.0000  132.5000      1969
2022-02-14 08:00:00  132.1200  132.1200  132.1200  132.1200       137
2022-02-14 07:50:00  132.2500  132.2500  132.2500  132.2500       907

[100 rows x 5 columns]

In [4]:
res.__dict__

{'_content': b'{\n    "Meta Data": {\n        "1. Information": "Intraday (5min) open, high, low, close prices and volume",\n        "2. Symbol": "IBM",\n        "3. Last Refreshed": "2022-02-14 19:55:00",\n        "4. Interval": "5min",\n        "5. Output Size": "Compact",\n        "6. Time Zone": "US/Eastern"\n    },\n    "Time Series (5min)": {\n        "2022-02-14 19:55:00": {\n            "1. open": "130.1500",\n            "2. high": "130.1500",\n            "3. low": "130.1500",\n            "4. close": "130.1500",\n            "5. volume": "200"\n        },\n        "2022-02-14 19:50:00": {\n            "1. open": "130.1500",\n            "2. high": "130.1500",\n            "3. low": "130.1500",\n            "4. close": "130.1500",\n            "5. volume": "313"\n        },\n        "2022-02-14 19:20:00": {\n            "1. open": "130.1700",\n            "2. high": "130.1700",\n            "3. low": "130.1700",\n            "4. close": "130.1700",\n            "5. volume": "100"\n        },\n        "2022-02-14 18:50:00": {\n            "1. open": "130.3400",\n            "2. high": "130.3400",\n            "3. low": "130.3400",\n            "4. close": "130.3400",\n            "5. volume": "100"\n        },\n        "2022-02-14 17:35:00": {\n            "1. open": "130.0000",\n            "2. high": "130.0000",\n            "3. low": "130.0000",\n            "4. close": "130.0000",\n            "5. volume": "152"\n        },\n        "2022-02-14 17:10:00": {\n            "1. open": "130.1100",\n            "2. high": "130.1100",\n            "3. low": "130.1100",\n            "4. close": "130.1100",\n            "5. volume": "200"\n        },\n        "2022-02-14 16:50:00": {\n            "1. open": "129.8900",\n            "2. high": "129.8900",\n            "3. low": "129.8900",\n            "4. close": "129.8900",\n            "5. volume": "441"\n        },\n        "2022-02-14 16:20:00": {\n            "1. open": "130.1500",\n            "2. high": "130.1500",\n            "3. low": "130.1500",\n            "4. close": "130.1500",\n            "5. volume": "500"\n        },\n        "2022-02-14 16:15:00": {\n            "1. open": "130.3699",\n            "2. high": "130.3699",\n            "3. low": "130.3699",\n            "4. close": "130.3699",\n            "5. volume": "440"\n        },\n        "2022-02-14 16:10:00": {\n            "1. open": "130.1500",\n            "2. high": "130.1500",\n            "3. low": "130.1500",\n            "4. close": "130.1500",\n            "5. volume": "7224"\n        },\n        "2022-02-14 16:05:00": {\n            "1. open": "130.1500",\n            "2. high": "130.3600",\n            "3. low": "130.1500",\n            "4. close": "130.1500",\n            "5. volume": "54054"\n        },\n        "2022-02-14 16:00:00": {\n            "1. open": "130.2600",\n            "2. high": "130.4500",\n            "3. low": "130.0700",\n            "4. close": "130.1100",\n            "5. volume": "223085"\n        },\n        "2022-02-14 15:55:00": {\n            "1. open": "130.4400",\n            "2. high": "130.4400",\n            "3. low": "130.0500",\n            "4. close": "130.2400",\n            "5. volume": "116676"\n        },\n        "2022-02-14 15:50:00": {\n            "1. open": "130.3050",\n            "2. high": "130.5600",\n            "3. low": "130.0500",\n            "4. close": "130.4600",\n            "5. volume": "86443"\n        },\n        "2022-02-14 15:45:00": {\n            "1. open": "130.0650",\n            "2. high": "130.3200",\n            "3. low": "130.0600",\n            "4. close": "130.3200",\n            "5. volume": "66194"\n        },\n        "2022-02-14 15:40:00": {\n            "1. open": "130.1650",\n            "2. high": "130.2000",\n            "3. low": "130.0500",\n            "4. close": "130.0800",\n            "5. volume": "38708"\n        },\n        "2022-02-14 15:35:00": {\n            "1. open": "129.8941",\n            "2. high": "130.1800",\n            "3. low": "129.8800",\n            "4. close": "130.1512",\n            "5. volume": "42195"\n        },\n        "2022-02-14 15:30:00": {\n            "1. open": "130.0000",\n            "2. high": "130.0500",\n            "3. low": "129.8800",\n            "4. close": "129.9400",\n            "5. volume": "43036"\n        },\n        "2022-02-14 15:25:00": {\n            "1. open": "129.6800",\n            "2. high": "130.1000",\n            "3. low": "129.5800",\n            "4. close": "130.0200",\n            "5. volume": "31931"\n        },\n        "2022-02-14 15:20:00": {\n            "1. open": "129.9100",\n            "2. high": "129.9100",\n            "3. low": "129.6918",\n            "4. close": "129.7000",\n            "5. volume": "28765"\n        },\n        "2022-02-14 15:15:00": {\n            "1. open": "129.8400",\n            "2. high": "129.9250",\n            "3. low": "129.6900",\n            "4. close": "129.9100",\n            "5. volume": "26293"\n        },\n        "2022-02-14 15:10:00": {\n            "1. open": "129.8100",\n            "2. high": "129.8828",\n            "3. low": "129.6200",\n            "4. close": "129.8828",\n            "5. volume": "43702"\n        },\n        "2022-02-14 15:05:00": {\n            "1. open": "129.8000",\n            "2. high": "129.9000",\n            "3. low": "129.7300",\n            "4. close": "129.7910",\n            "5. volume": "35160"\n        },\n        "2022-02-14 15:00:00": {\n            "1. open": "129.6620",\n            "2. high": "129.7900",\n            "3. low": "129.6150",\n            "4. close": "129.7900",\n            "5. volume": "26923"\n        },\n        "2022-02-14 14:55:00": {\n            "1. open": "129.4650",\n            "2. high": "129.8700",\n            "3. low": "129.4650",\n            "4. close": "129.6700",\n            "5. volume": "26918"\n        },\n        "2022-02-14 14:50:00": {\n            "1. open": "129.5211",\n            "2. high": "129.6200",\n            "3. low": "129.4200",\n            "4. close": "129.4800",\n            "5. volume": "24341"\n        },\n        "2022-02-14 14:45:00": {\n            "1. open": "129.6000",\n            "2. high": "129.7561",\n            "3. low": "129.4787",\n            "4. close": "129.5700",\n            "5. volume": "29486"\n        },\n        "2022-02-14 14:40:00": {\n            "1. open": "129.6614",\n            "2. high": "129.8000",\n            "3. low": "129.5500",\n            "4. close": "129.6200",\n            "5. volume": "35921"\n        },\n        "2022-02-14 14:35:00": {\n            "1. open": "129.4600",\n            "2. high": "129.7000",\n            "3. low": "129.3400",\n            "4. close": "129.6900",\n            "5. volume": "89027"\n        },\n        "2022-02-14 14:30:00": {\n            "1. open": "129.3700",\n            "2. high": "129.8600",\n            "3. low": "129.2700",\n            "4. close": "129.4700",\n            "5. volume": "62603"\n        },\n        "2022-02-14 14:25:00": {\n            "1. open": "129.4800",\n            "2. high": "129.4900",\n            "3. low": "129.3510",\n            "4. close": "129.3600",\n            "5. volume": "21233"\n        },\n        "2022-02-14 14:20:00": {\n            "1. open": "129.4800",\n            "2. high": "129.4900",\n            "3. low": "129.3000",\n            "4. close": "129.4191",\n            "5. volume": "39744"\n        },\n        "2022-02-14 14:15:00": {\n            "1. open": "129.3800",\n            "2. high": "129.5500",\n            "3. low": "129.3500",\n            "4. close": "129.4600",\n            "5. volume": "60869"\n        },\n        "2022-02-14 14:10:00": {\n            "1. open": "129.6200",\n            "2. high": "129.6500",\n            "3. low": "129.3510",\n            "4. close": "129.3850",\n            "5. volume": "86594"\n        },\n        "2022-02-14 14:05:00": {\n            "1. open": "129.5900",\n            "2. high": "129.6900",\n            "3. low": "129.5392",\n            "4. close": "129.6500",\n            "5. volume": "57596"\n        },\n        "2022-02-14 14:00:00": {\n            "1. open": "129.7200",\n            "2. high": "129.8600",\n            "3. low": "129.6000",\n            "4. close": "129.6200",\n            "5. volume": "52945"\n        },\n        "2022-02-14 13:55:00": {\n            "1. open": "129.9483",\n            "2. high": "129.9500",\n            "3. low": "129.6400",\n            "4. close": "129.7100",\n            "5. volume": "47403"\n        },\n        "2022-02-14 13:50:00": {\n            "1. open": "130.3100",\n            "2. high": "130.3300",\n            "3. low": "129.9500",\n            "4. close": "129.9700",\n            "5. volume": "21780"\n        },\n        "2022-02-14 13:45:00": {\n            "1. open": "130.5000",\n            "2. high": "130.5300",\n            "3. low": "130.3100",\n            "4. close": "130.3100",\n            "5. volume": "27559"\n        },\n        "2022-02-14 13:40:00": {\n            "1. open": "130.4400",\n            "2. high": "130.5300",\n            "3. low": "130.4207",\n            "4. close": "130.5200",\n            "5. volume": "20074"\n        },\n        "2022-02-14 13:35:00": {\n            "1. open": "130.5100",\n            "2. high": "130.5350",\n            "3. low": "130.3100",\n            "4. close": "130.4350",\n            "5. volume": "24429"\n        },\n        "2022-02-14 13:30:00": {\n            "1. open": "130.4500",\n            "2. high": "130.5100",\n            "3. low": "130.3900",\n            "4. close": "130.5000",\n            "5. volume": "47498"\n        },\n        "2022-02-14 13:25:00": {\n            "1. open": "130.4700",\n            "2. high": "130.5900",\n            "3. low": "130.4200",\n            "4. close": "130.4450",\n            "5. volume": "49312"\n        },\n        "2022-02-14 13:20:00": {\n            "1. open": "130.4850",\n            "2. high": "130.5400",\n            "3. low": "130.4450",\n            "4. close": "130.4700",\n            "5. volume": "37197"\n        },\n        "2022-02-14 13:15:00": {\n            "1. open": "130.4600",\n            "2. high": "130.5000",\n            "3. low": "130.4200",\n            "4. close": "130.4900",\n            "5. volume": "29222"\n        },\n        "2022-02-14 13:10:00": {\n            "1. open": "130.4400",\n            "2. high": "130.4900",\n            "3. low": "130.3800",\n            "4. close": "130.4600",\n            "5. volume": "40075"\n        },\n        "2022-02-14 13:05:00": {\n            "1. open": "130.3550",\n            "2. high": "130.4900",\n            "3. low": "130.3550",\n            "4. close": "130.4250",\n            "5. volume": "38915"\n        },\n        "2022-02-14 13:00:00": {\n            "1. open": "130.0850",\n            "2. high": "130.4000",\n            "3. low": "130.0350",\n            "4. close": "130.3300",\n            "5. volume": "34499"\n        },\n        "2022-02-14 12:55:00": {\n            "1. open": "130.1100",\n            "2. high": "130.1250",\n            "3. low": "129.9950",\n            "4. close": "130.0700",\n            "5. volume": "45764"\n        },\n        "2022-02-14 12:50:00": {\n            "1. open": "130.0500",\n            "2. high": "130.1200",\n            "3. low": "129.9700",\n            "4. close": "130.1100",\n            "5. volume": "27311"\n        },\n        "2022-02-14 12:45:00": {\n            "1. open": "129.9550",\n            "2. high": "130.1250",\n            "3. low": "129.9500",\n            "4. close": "130.0600",\n            "5. volume": "44222"\n        },\n        "2022-02-14 12:40:00": {\n            "1. open": "130.0300",\n            "2. high": "130.0300",\n            "3. low": "129.8300",\n            "4. close": "129.9500",\n            "5. volume": "49398"\n        },\n        "2022-02-14 12:35:00": {\n            "1. open": "130.1325",\n            "2. high": "130.1800",\n            "3. low": "130.0000",\n            "4. close": "130.0300",\n            "5. volume": "57845"\n        },\n        "2022-02-14 12:30:00": {\n            "1. open": "130.1150",\n            "2. high": "130.1325",\n            "3. low": "130.0400",\n            "4. close": "130.1325",\n            "5. volume": "34216"\n        },\n        "2022-02-14 12:25:00": {\n            "1. open": "130.0950",\n            "2. high": "130.1300",\n            "3. low": "130.0100",\n            "4. close": "130.1125",\n            "5. volume": "38061"\n        },\n        "2022-02-14 12:20:00": {\n            "1. open": "129.8278",\n            "2. high": "130.2400",\n            "3. low": "129.8278",\n            "4. close": "130.0950",\n            "5. volume": "70765"\n        },\n        "2022-02-14 12:15:00": {\n            "1. open": "129.8600",\n            "2. high": "129.9100",\n            "3. low": "129.8100",\n            "4. close": "129.8500",\n            "5. volume": "34329"\n        },\n        "2022-02-14 12:10:00": {\n            "1. open": "129.9800",\n            "2. high": "129.9800",\n            "3. low": "129.8200",\n            "4. close": "129.8350",\n            "5. volume": "33354"\n        },\n        "2022-02-14 12:05:00": {\n            "1. open": "130.0200",\n            "2. high": "130.1125",\n            "3. low": "129.8900",\n            "4. close": "130.0000",\n            "5. volume": "88749"\n        },\n        "2022-02-14 12:00:00": {\n            "1. open": "129.7000",\n            "2. high": "130.0700",\n            "3. low": "129.6900",\n            "4. close": "130.0200",\n            "5. volume": "90838"\n        },\n        "2022-02-14 11:55:00": {\n            "1. open": "129.8400",\n            "2. high": "129.9200",\n            "3. low": "129.6900",\n            "4. close": "129.7000",\n            "5. volume": "58451"\n        },\n        "2022-02-14 11:50:00": {\n            "1. open": "129.7800",\n            "2. high": "129.8900",\n            "3. low": "129.7200",\n            "4. close": "129.8100",\n            "5. volume": "44595"\n        },\n        "2022-02-14 11:45:00": {\n            "1. open": "129.8400",\n            "2. high": "129.9250",\n            "3. low": "129.7500",\n            "4. close": "129.7500",\n            "5. volume": "59523"\n        },\n        "2022-02-14 11:40:00": {\n            "1. open": "129.8200",\n            "2. high": "129.9400",\n            "3. low": "129.7500",\n            "4. close": "129.7800",\n            "5. volume": "48277"\n        },\n        "2022-02-14 11:35:00": {\n            "1. open": "129.3800",\n            "2. high": "129.8500",\n            "3. low": "129.3800",\n            "4. close": "129.8200",\n            "5. volume": "140272"\n        },\n        "2022-02-14 11:30:00": {\n            "1. open": "129.3450",\n            "2. high": "129.5650",\n            "3. low": "129.2600",\n            "4. close": "129.3900",\n            "5. volume": "131230"\n        },\n        "2022-02-14 11:25:00": {\n            "1. open": "129.2700",\n            "2. high": "129.5200",\n            "3. low": "129.2200",\n            "4. close": "129.3407",\n            "5. volume": "54306"\n        },\n        "2022-02-14 11:20:00": {\n            "1. open": "129.1400",\n            "2. high": "129.3500",\n            "3. low": "129.0700",\n            "4. close": "129.2750",\n            "5. volume": "64715"\n        },\n        "2022-02-14 11:15:00": {\n            "1. open": "129.2100",\n            "2. high": "129.2700",\n            "3. low": "129.1100",\n            "4. close": "129.1100",\n            "5. volume": "52965"\n        },\n        "2022-02-14 11:10:00": {\n            "1. open": "129.3100",\n            "2. high": "129.3200",\n            "3. low": "129.1600",\n            "4. close": "129.2200",\n            "5. volume": "45696"\n        },\n        "2022-02-14 11:05:00": {\n            "1. open": "129.2524",\n            "2. high": "129.4350",\n            "3. low": "129.2400",\n            "4. close": "129.3400",\n            "5. volume": "49648"\n        },\n        "2022-02-14 11:00:00": {\n            "1. open": "129.4150",\n            "2. high": "129.4900",\n            "3. low": "129.2500",\n            "4. close": "129.2536",\n            "5. volume": "72637"\n        },\n        "2022-02-14 10:55:00": {\n            "1. open": "129.6200",\n            "2. high": "129.6500",\n            "3. low": "129.3900",\n            "4. close": "129.4150",\n            "5. volume": "41560"\n        },\n        "2022-02-14 10:50:00": {\n            "1. open": "129.7500",\n            "2. high": "129.8200",\n            "3. low": "129.5700",\n            "4. close": "129.6100",\n            "5. volume": "38053"\n        },\n        "2022-02-14 10:45:00": {\n            "1. open": "129.9000",\n            "2. high": "129.9693",\n            "3. low": "129.7400",\n            "4. close": "129.7400",\n            "5. volume": "42469"\n        },\n        "2022-02-14 10:40:00": {\n            "1. open": "129.9000",\n            "2. high": "129.9500",\n            "3. low": "129.7216",\n            "4. close": "129.8800",\n            "5. volume": "36875"\n        },\n        "2022-02-14 10:35:00": {\n            "1. open": "130.1900",\n            "2. high": "130.1900",\n            "3. low": "129.7800",\n            "4. close": "129.9137",\n            "5. volume": "79317"\n        },\n        "2022-02-14 10:30:00": {\n            "1. open": "130.3900",\n            "2. high": "130.4000",\n            "3. low": "130.0300",\n            "4. close": "130.1974",\n            "5. volume": "35443"\n        },\n        "2022-02-14 10:25:00": {\n            "1. open": "130.3450",\n            "2. high": "130.6200",\n            "3. low": "130.2500",\n            "4. close": "130.3650",\n            "5. volume": "47019"\n        },\n        "2022-02-14 10:20:00": {\n            "1. open": "130.4450",\n            "2. high": "130.4450",\n            "3. low": "130.0802",\n            "4. close": "130.3450",\n            "5. volume": "65421"\n        },\n        "2022-02-14 10:15:00": {\n            "1. open": "130.4800",\n            "2. high": "130.7150",\n            "3. low": "130.3600",\n            "4. close": "130.4700",\n            "5. volume": "53282"\n        },\n        "2022-02-14 10:10:00": {\n            "1. open": "130.5000",\n            "2. high": "130.6300",\n            "3. low": "130.4150",\n            "4. close": "130.5000",\n            "5. volume": "49302"\n        },\n        "2022-02-14 10:05:00": {\n            "1. open": "130.6800",\n            "2. high": "130.6900",\n            "3. low": "130.3000",\n            "4. close": "130.4200",\n            "5. volume": "53483"\n        },\n        "2022-02-14 10:00:00": {\n            "1. open": "130.9300",\n            "2. high": "130.9300",\n            "3. low": "130.5700",\n            "4. close": "130.6650",\n            "5. volume": "72917"\n        },\n        "2022-02-14 09:55:00": {\n            "1. open": "130.7650",\n            "2. high": "131.0000",\n            "3. low": "130.5300",\n            "4. close": "130.9150",\n            "5. volume": "117857"\n        },\n        "2022-02-14 09:50:00": {\n            "1. open": "130.8100",\n            "2. high": "130.8600",\n            "3. low": "130.2801",\n            "4. close": "130.7800",\n            "5. volume": "188868"\n        },\n        "2022-02-14 09:45:00": {\n            "1. open": "131.1700",\n            "2. high": "131.2599",\n            "3. low": "130.7300",\n            "4. close": "130.8400",\n            "5. volume": "67091"\n        },\n        "2022-02-14 09:40:00": {\n            "1. open": "131.8000",\n            "2. high": "131.8600",\n            "3. low": "131.1800",\n            "4. close": "131.190

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

### Step 7. Create a dataFrame called vol, with the volume values.

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

### Step 9. Find all the volume traded in the year of 2015