# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [31]:
# pd.read_csv(filepath_or_buffer='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')
# error --> Error tokenizing data
pd.read_csv(filepath_or_buffer='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',
           on_bad_lines='skip')
# esto no soluciona lo que queremos (buscando por sof), a seguir buscando

     order_id\tquantity\titem_name\tchoice_description\titem_price
0      1\t1\tChips and Fresh Tomato Salsa\tNULL\t$2.39
1                      1\t1\tIzze\t[Clementine]\t$3.39
2               1\t1\tNantucket Nectar\t[Apple]\t$3.39
3     1\t1\tChips and Tomatillo-Green Chili Salsa\tN...
4                     3\t1\tSide of Chips\tNULL\t$1.69
...                                                 ...
1790         1828\t1\tCanned Soft Drink\t[Coke]\t$1.25
1791       1829\t1\tCanned Soft Drink\t[Sprite]\t$1.25
1792                       1831\t1\tChips\tNULL\t$2.15
1793               1831\t1\tBottled Water\tNULL\t$1.50
1794         1832\t1\tChips and Guacamole\tNULL\t$4.45

[1795 rows x 1 columns]

In [32]:
chipo = pd.read_csv(filepath_or_buffer='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',
           sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [17]:
# chipo.item_price

In [14]:
chipo.item_price.str.slice(1).head()

# es de tipo object, lo suyo es cambiarlo a numérico para poder manipular el dato

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: object

In [18]:
pd.to_numeric?

Signature: pd.to_numeric(arg, errors='raise', downcast=None)
Docstring:
Convert argument to a numeric type.

The default return dtype is `float64` or `int64`
depending on the data supplied. Use the `downcast` parameter
to obtain other dtypes.

Please note that precision loss may occur if really large numbers
are passed in. Due to the internal limitations of `ndarray`, if
numbers smaller than `-9223372036854775808` (np.iinfo(np.int64).min)
or larger than `18446744073709551615` (np.iinfo(np.uint64).max) are
passed in, it is very likely they will be converted to float so that
they can stored in an `ndarray`. These warnings apply similarly to
`Series` since it internally leverages `ndarray`.

Parameters
----------
arg : scalar, list, tuple, 1-d array, or Series
    Argument to be converted.
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception.
    - If 'coerce', then invalid parsing will be set as NaN.
    - If 'ignore', then invalid parsing will return the input.
downcast : {'integer', 'signed', 'unsigned', 'float'}, default None
    If not None, and if the data has been successfully cast to a
    numerical dtype (or if the data was numeric to begin with),
    downcast that resulting data to the smallest numerical dtype
    possible according to the following rules:

    - 'integer' or 'signed': smallest signed int dtype (min.: np.int8)
    - 'unsigned': smallest unsigned int dtype (min.: np.uint8)
    - 'float': smallest float dtype (min.: np.float32)

    As this behaviour is separate from the core conversion to
    numeric values, any errors raised during the downcasting
    will be surfaced regardless of the value of the 'errors' input.

    In addition, downcasting will only occur if the size
    of the resulting data's dtype is strictly larger than
    the dtype it is to be cast to, so if none of the dtypes
    checked satisfy that specification, no downcasting will be
    performed on the data.

Returns
-------
ret
    Numeric if parsing succeeded.
    Return type depends on input.  Series if Series, otherwise ndarray.

See Also
--------
DataFrame.astype : Cast argument to a specified dtype.
to_datetime : Convert argument to datetime.
to_timedelta : Convert argument to timedelta.
numpy.ndarray.astype : Cast a numpy array to a specified type.
DataFrame.convert_dtypes : Convert dtypes.

Examples
--------
Take separate series and convert to numeric, coercing when told to

>>> s = pd.Series(['1.0', '2', -3])
>>> pd.to_numeric(s)
0    1.0
1    2.0
2   -3.0
dtype: float64
>>> pd.to_numeric(s, downcast='float')
0    1.0
1    2.0
2   -3.0
dtype: float32
>>> pd.to_numeric(s, downcast='signed')
0    1
1    2
2   -3
dtype: int8
>>> s = pd.Series(['apple', '1.0', '2', -3])
>>> pd.to_numeric(s, errors='ignore')
0    apple
1      1.0
2        2
3       -3
dtype: object
>>> pd.to_numeric(s, errors='coerce')
0    NaN
1    1.0
2    2.0
3   -3.0
dtype: float64

Downcasting of nullable integer and floating dtypes is supported:

>>> s = pd.Series([1, 2, 3], dtype="Int64")
>>> pd.to_numeric(s, downcast="integer")
0    1
1    2
2    3
dtype: Int8
>>> s = pd.Series([1.0, 2.1, 3.0], dtype="Float64")
>>> pd.to_numeric(s, downcast="float")
0    1.0
1    2.1
2    3.0
dtype: Float32
File:      c:\users\alexg\anaconda3\lib\site-packages\pandas\core\tools\numeric.py
Type:      function

In [16]:
chipo['precio_decimal'] = pd.to_numeric(chipo.item_price.str.slice(1))
chipo['precio_decimal']

# conseguido, ahora es decimal

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: precio_decimal, Length: 4622, dtype: float64

In [25]:
product_prices = chipo.groupby('item_name').agg({'precio_decimal':'max'})
(product_prices.precio_decimal > 10).sum()

# SOLUCIÓN: Hay 31 tipos de productos que valen más de $10.

31

### Step 5. What is the price of each item? print a data frame with only two columns item_name and item_price

In [27]:
# Aquí basta con mencionar la variable creada en el ejercicio anterior y ya estaría

product_prices

                                       precio_decimal
item_name
6 Pack Soft Drink                               12.98
Barbacoa Bowl                                   11.75
Barbacoa Burrito                                11.75
Barbacoa Crispy Tacos                           18.50
Barbacoa Salad Bowl                             11.89
Barbacoa Soft Tacos                             11.75
Bottled Water                                   15.00
Bowl                                            22.20
Burrito                                          7.40
Canned Soda                                      4.36
Canned Soft Drink                                5.00
Carnitas Bowl                                   35.25
Carnitas Burrito                                18.50
Carnitas Crispy Tacos                           17.98
Carnitas Salad                                   8.99
Carnitas Salad Bowl                             11.89
Carnitas Soft Tacos                             11.75
Chicken Bowl                                    32.94
Chicken Burrito                                 35.00
Chicken Crispy Tacos                            17.50
Chicken Salad                                   10.98
Chicken Salad Bowl                              22.50
Chicken Soft Tacos                              21.96
Chips                                            6.45
Chips and Fresh Tomato Salsa                    44.25
Chips and Guacamole                             17.80
Chips and Mild Fresh Tomato Salsa                3.00
Chips and Roasted Chili Corn Salsa               5.90
Chips and Roasted Chili-Corn Salsa               2.39
Chips and Tomatillo Green Chili Salsa            5.90
Chips and Tomatillo Red Chili Salsa              5.90
Chips and Tomatillo-Green Chili Salsa            4.78
Chips and Tomatillo-Red Chili Salsa              7.17
Crispy Tacos                                     7.40
Izze                                             3.39
Nantucket Nectar                                 6.78
Salad                                            7.40
Side of Chips                                   13.52
Steak Bowl                                      26.07
Steak Burrito                                   27.75
Steak Crispy Tacos                              17.98
Steak Salad                                      8.99
Steak Salad Bowl                                23.78
Steak Soft Tacos                                18.50
Veggie Bowl                                     16.98
Veggie Burrito                                  33.75
Veggie Crispy Tacos                              8.49
Veggie Salad                                     8.49
Veggie Salad Bowl                               11.25
Veggie Soft Tacos                               16.98

### Step 6. Sort by the name of the item

In [33]:
chipo.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### [ ] Step 7. What was the quantity of the most expensive item ordered?

### [ ] Step 8. How many times was a Veggie Salad Bowl ordered?

### [ ] Step 9. How many times did someone order more than one Canned Soda?